.container-projects {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.images {
    display: flex;
    flex-direction: column;
}
.sandman-img {
    width: 150px;
    height: 100px;
    margin: 4px;
}
.text-img {
    margin: 4px;
    width: 150px;
    height: 210px;
}
.projects-sandman {
    height: 330px;
    width: 340;
    background: rgba(62, 62, 219, 0.37);
    display: flex;
    img {
        transition: transform .2s; 
    }
    img:hover {
        transform: scale(1.5); 
    }
}
.sandman-discription {
    height: 310px;
    width: 200px;
    margin: 5px;
    background: rgba(10, 0, 2, 0.774);
    color: white;
    padding: 5px;
    h6 { 
        color: white;
        text-decoration: none !important;
    }
}
.battleship-discription {
    height: 310px;
    width: 200px;
    margin: 5px;
    background: rgba(10, 0, 2, 0.774);
    color: white;
    padding: 5px;
    h6 { 
        color: white;
        text-decoration: none !important;
    }
}
.battleship-project {
    height: 330px;
    width: 340;
    background: rgba(62, 62, 219, 0.37);
    display: flex;
    img {
        transition: transform .2s; 
    }
    img:hover {
        transform: scale(1.5); 
    }
}
p {
    margin: 5px;
}
@media (max-width: 750px) {
    .projects-sandman {
        img {
            transition: transform none; 
        }
        img:hover {
            transform: none; 
        }
    }
    .container-projects {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {

}
@media (max-width: 550px) {

}
@media (max-width: 500px) {

}