@import '../../App.sass';

* 
    box-sizing: border-box;


body 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

.container 
    width: 100%;
    margin: 0 auto;

header
    background-color: $theme-color;
    padding: 20px 0;

.col-1 
    width: 20%;
    display: inline-block;
    vertical-align: middle;

.col-1 img
    display: block;
    padding: 1%;
    width: 100%;
    border: 5px solid $theme-color;
    margin: 10% 10% 0% 35% ;


.col-2
    width: 50%;
    margin: 10%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

.box
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: $base-color;
    border: 2px solid $base-color;

.box a
    color: $text-color
    text-decoration: none;

.bio-box
    text-align: center;
    border: 10px solid rgba(255, 255, 255, 0.317);
    background-color: $theme-color;
    color: $text-color
    text-decoration: none;
    font-size: 18px;
    line-height: 1.8;

.bio-box p 
    padding: 20px;


@media screen and (max-width: 900px)
    .col-1 img
        width: 140%;
        margin: 8% 8% 1% 75% ;
    .box
        display: block;
        margin: 10px 0 0 30%;
        width: 35vh;
@media screen and (max-width: 568px)
    .col-1 img
        width: 200%;
        margin: 0 0 0 100%;
    .col-1, .col-2
        margin: 2% 10% 1% 10%;
        display: block;
    .box
        margin: 10px 0 0 30%;
        width: 35vh;
