@import '../../App.sass';

img  
    width: 4rem; 

h1
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 12px;
    padding: 10px;
    color: white;

.nav 
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
    background: black;

.hamburger 
    font-size: 24px;
    margin: 1vh 0 1vh 5vw;
    color: white;
    .hamburger:hover 
        cursor: pointer;

.canon-creative 
    margin: 1vh 0 1vh 0;
    color: white;
    font-weight: bold;
    font-size: 28px;

.one-more-div 
    display: flex;
    justify-content: center;
    width: 100%;

.title-nav 
    display: flex;
    flex-direction: column;
    align-items: center;

.nav-row 
    display: none !important;

.nav-list 
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    z-index: 10;
    color: white;
    .hover-test:hover 
        opacity: .5;

    li 
        margin: 1vh 3vw 2vh 3vw;
        font-size: 20px;
        font-weight: bold;
        color: white;
    .link-decoration 
        text-decoration: none;



.dropdown 
    display: flex;
    flex-direction: column;
    list-style: none;
    background: red;
    position: relative;
    z-index: 10;
    // justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    transition: 1s;
    // border: solid black 1px;
    overflow: hidden;
    font-family: yellow;
    color: white;
    font-size: 30px;
    li 
        margin: 6vh 0 5vh 0;
        color: white;
    .link-decoration 
        text-decoration: none;

.hide 
    height: 0;


@media (min-width: 769px)
    .nav-row 
        display: inline-block !important;
    .hamburger
        display: none;

.container 
    // margin: 0 0 0 60vh
    display: inline-block;
    cursor: pointer;


.bar1, .bar2, .bar3 
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
.bar4, .bar5, .bar6 
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
