@mixin viewHeight() {
  z-index: 1;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
#home {
  background-image: url('./../assets//alana-harris-E1liYFaV62w-unsplash.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover; 
  @include viewHeight();
}
#about {
  background-color: #3b3a33;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  @include viewHeight();
}
#projects {
  background: url('../assets/water.jpg');
  @include viewHeight();
  height: 100vh;
  width: 100%;
  background-size: cover; 
}
#stack {
  background: url('../assets//coding.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover; 
  @include viewHeight();
}
#contact {
  background: rgb(48, 21, 21);
  @include viewHeight();
}

.nav ul {
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.295);
  position: fixed;
  top: 0;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
li, a {
  text-decoration: none;
  color: white;
  margin: 0 0 0 5%;
}
.logo {
  height: 50px;
  width: 50px;
  margin: 0 8% 0 5%;
  clip-path: circle(50%);
}

