@mixin viewHeight() {
  z-index: 1;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
#home {
  background-image: url('./../assets//alana-harris-E1liYFaV62w-unsplash.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover; 
  @include viewHeight();
}
#about {
  background-color: #3b3a33;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  @include viewHeight();
}
#projects {
  background: url('../assets/water.jpg');
  @include viewHeight();
  height: 100vh;
  width: 100%;
  background-size: cover; 
}
#stack {
  background: url('../assets//coding.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover; 
  @include viewHeight();
}
#contact {
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;;
  @include viewHeight();
}

.nav ul {
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.295);
  position: fixed;
  top: 0;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  li, a {
    text-decoration: none;
    color: white;
    margin: 0 0 0 10%;
  }
}
.logo {
  height: 50px;
  width: 50px;
  margin: 0 8% 0 5%;
  clip-path: circle(50%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 9px gray;
  background: rgba(0, 0, 0, 0.993);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #36c;
  background:
  linear-gradient(115deg, transparent 75%, white 75%) 0 0,
  linear-gradient(245deg, transparent 75%, white 75%) 0 0,
  linear-gradient(115deg, transparent 75%, white 75%) 7px -15px,
  linear-gradient(245deg, transparent 75%, white 75%) 7px -15px,#36c;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .nav ul {
    li, a {
      margin: 0 0 0 8%;
    }
  }
  .logo {
    height: 50px;
    width: 50px;
    margin: 0 8% 0 2%;
    clip-path: circle(50%);
  }
}
@media (max-width: 600px) {
  .nav ul {
    li, a {
      margin: 0 0 0 3%;
    }
  }
  .logo {
    height: 50px;
    width: 50px;
    margin: 0 8% 0 2%;
    clip-path: circle(50%);
  }
}