.svg {
    font-size: 40px;
}
.skill-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 83%;
    height: 100vh;
    img {
        height: 130px;
        width: 130px;
        transition: transform .2s; 
        margin: 0 auto;
    }
    img:hover {
        transform: scale(1.5); 
    }
    i {
    transition: transform .2s; 
    margin: 0 auto;
    font-size: 130px;
}
    i:hover {
        transform: scale(1.5); 
    }
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20%;
    grid-column-gap: 10%;
    width: auto;
}
@media (max-width: 700px) {
    .skill-container {
        img {
            height: 120px;
            width: 110px;
            transition: transform .2s; 
            margin: 0 auto;
        }
        i {
            transition: transform .2s; 
            margin: 0 auto;
            font-size: 110px;
        }
        img:hover {
            transform: none; 
        }
        i:hover {
            transform: none; 
        }
    }
}
@media (max-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0 20%;
        grid-column-gap:  0 10%;
        margin: 25% 0 0 0;
    }
    .skill-container {
        align-items: flex-start;
        img {
            height: 110px;
            width: 110px;
            transition: transform .2s; 
            margin: 0 auto;
        }
        i {
            transition: transform .2s; 
            margin: 0 auto;
            font-size: 110px;
        }
    }
}
